@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:ital,wght@1,600&family=Montserrat:wght@600&family=Poiret+One&family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #697c8a;
  width: 100%;

}

.bar .logo {
  cursor: pointer;
  position: fixed;
  left: 7px;
  top: -1px;
}

nav .lsa span {
  color: rgb(231, 0, 0);
  position: absolute;
  top: -25px;
  left: 0px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 23PX;
  letter-spacing: 6px;
}

.lsa {
  cursor: pointer;
  position: absolute;
  font-size: 12.5PX;
  color: white;
  text-transform: uppercase;
  top: 41PX;
  left: 92PX;
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: end;
  gap: 50px;

}


ul li a {
  cursor: pointer;
  color: #f6b91f;
}

.bar {
  background-color: #273037;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
  height: 80px;
  width: 100%;
  z-index: 2;
  position: fixed;
  display: grid;
  align-items: center;
  padding-right: 20px;
}

ul li a:hover {
  text-shadow: 0px 0px 1px #f6b91f;

}

ul li a::after {
  content: '';
  background: #ffffff;
  width: 0%;
  height: 2px;
  display: block;
  position: relative;
  margin: auto;
}

ul li a:hover::after {
  width: 100%;
  transition: all .3s ease-in-out;
}

ul li:nth-of-type(5) a::after {
  display: none;
}

ul li:nth-of-type(5) a {
  padding: 5PX;
  border: 1.8px solid;
  font-size: 11PX;
  font-weight: bolder;
}

ul li:nth-of-type(5) a:hover {
  text-shadow: 0px 0px 1px #ffffff90;
  color: black;
  border-color: white;
  background-color: #ffffff90;
  box-shadow: 0px 0px 20px white;
  transition: .6s ease-in-out;

}

@media (max-width: 900px) {

  ul {
    display: block;
    background-color: #273037;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    width: 100%;
    height: 12em;
    top: 0;
    position: absolute;
    padding: 24px;
    text-align: center;
    align-items: center;
    min-width: 150px;
  }  
  ul li a:hover{
    border-bottom: 1px solid  white ;
  }
 ul li a::after{
    display: none;
  }
  .bar {
    justify-content: center;
  }

  ul li:nth-of-type(5) a {
    font-size: 15px;
    position: relative;
    top: 9px;
  }
}
main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
main section{
  background: #000;
  width: 100%;
  height: 100vh;

}
section:first-of-type img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
