/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Josefin+Slab:ital,wght@1,600&family=Montserrat:wght@600&family=Poiret+One&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

/* @ahkamboh 2023 */

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {

  /**
     * colors
     */
  --bg-main-1: #235770;
  --bg-main-2: #5f8294;
  --bg-main-3: #cbffff;

  /* gradient */

  --bg-gradient-onyx: linear-gradient(to bottom right,
      hsl(240, 1%, 25%) 3%,
      hsl(0, 0%, 19%) 97%);
  --bg-gradient-jet: linear-gradient(to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(to bottom right,
      hsl(45, 100%, 71%) 0%,
      hsla(36, 100%, 69%, 0) 50%);
  --bg-gradient-yellow-2: linear-gradient(135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0) 50%);
  --text-gradient-yellow: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));

  /* solid */

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola-1: hsl(45, 100%, 72%);
  --orange-yellow-crayola-2: hsl(45, 100%, 52%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /**
     * typography
     */

  /* font-family */
  --ff-poppins: 'Poppins', sans-serif;
  --Yellowtail: 'Yellowtail', cursive, sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
     * shadow
     */

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
     * transition
     */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}

/* sroll formation */
::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

::-webkit-scrollbar-button {
  height: 40px;
}

body {
  min-width: 150px;
  font-family: 'poppins', serif, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #235770;
  cursor: url(curser.png), auto;
 
}

/* navbar formation */
nav {
  background-color: var(--bg-main-1);
  box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
  height: 80px;
  width: 100%;
  z-index: 1;
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  cursor: pointer;
}

.bar .logo {
  cursor: pointer;
  position: fixed;
  left: 13px;
  top: 2.5px;
}

.bar .logo img {
  object-fit: contain;
  width: 71px;
  height: 72px;
}

nav .lsa span {
  color: rgb(231, 0, 0);
  position: absolute;
  top: -25px;
  left: 0px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 23PX;
  letter-spacing: 6px;
}

.lsa {
  cursor: pointer;
  position: absolute;
  font-size: 12.5PX;
  color: white;
  text-transform: uppercase;
  letter-spacing: .1px;
  top: 41PX;
  left: 92PX;
  font-weight: bold;
}

ul {
  display: flex;
  gap: 50px;
  position: relative;
  bottom: 2px;
}


ul li a {
  cursor: pointer;
  color: #f6b91f;
}

ul li a:hover {
  transition: var(--transition-1);
  font-weight: 400;
  text-shadow: 0px 0px 1px #f6b91f;

}

ul li a::after {
  content: '';
  background: #ffffff;
  width: 0%;
  height: 2px;
  display: block;
  position: relative;
  margin: auto;
}

ul li a:hover::after {
  width: 100%;
  transition: all .3s ease-in-out;
}

ul li:nth-of-type(5) a::after {
  display: none;
}

ul li:nth-of-type(5) a {
  padding: 5PX;
  border: 1.8px solid;
  font-size: 11PX;
  font-weight: bolder;
}

ul li:nth-of-type(5) a:hover {
  text-shadow: 0px 0px 1px #ffffff90;
  color: black;
  border-color: white;
  background-color: #ffffff90;
  box-shadow: 0px 0px 20px white;
  transition: .6s ease-in-out;

}

.mainbar {
  display: inline-block;
  cursor: pointer;
  gap: 6px;
  position: absolute;
  right: 14px;
  top: 25px;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  border-radius: 1px;
  background: #ffffff;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* -------------------------------------------- */
/* pages formation */
.container {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container section {
  padding-top: 90px;
  position: relative;
  scroll-snap-align: start;
  background-color: #5f8294;
  width: 100%;
  height: 100vh;
  color: rgb(255, 255, 255);

}

.container section:first-of-type {
  padding-top: 0px;
  background-image: url(bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* -------------------------------------------- */
/* Home page */

.container section:first-of-type {
  height: 100%;
  display: flex;
  gap: 10px;
}

.Home {
  width: 100%;
}

.Home:first-child {
  padding-top: 60PX;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Home:nth-child(2) .Home-text {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 15px;
}

.Home:nth-child(2) .Home-text h1 b {
  color: var(--bg-main-1);
  font-family: var(--Yellowtail);
  position: relative;
  right: 20px;
  font-size: 2em;
}

.Home:nth-child(2) .Home-text h1 {
  color: var(--orange-yellow-crayola-2);
  font-size: 3em;
  line-height: 60px;
}

.Home:nth-child(2) .Home-text p {
  color: var(--bg-main-1);
  width: 60%;
}

.Home:nth-child(2) a {
  width: 10em;
  height: auto;
}

.Home:nth-child(2) button {
  position: relative;
  top: 13px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.Home:nth-child(2) button.learn-more {
  width: 12rem;
  height: auto;
}

.Home:nth-child(2) button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--bg-main-1);

}

.Home:nth-child(2) button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.Home:nth-child(2) button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.Home:nth-child(2) button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.Home:nth-child(2) button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--bg-main-1);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.Home:nth-child(2) button:hover .circle {
  width: 100%;
}

.Home:nth-child(2) button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.Home:nth-child(2) button:hover .button-text {
  color: #fff;
}

.arrows {
  display: grid;
  gap: 1px;
  position: fixed;
  z-index: 2;
  right:20px;
  bottom: 43%;
}

.arrows .up,
.arrows .down {
  width: 50px;
  height: 50px;
  font-size: 3.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--bg-main-1);
  color: var(--bg-main-1);

}

.arrows .up {
  transform: rotate(270deg);
  background: var(--bg-main-3);
}

.arrows .down {
  transform: rotate(90deg);
  background: var(--bg-main-3);
}

.arrows .down:hover,
.arrows .down:focus,
.up:hover,
.up:focus {
  background: var(--bg-main-1);
  color: white;
  border: 1px solid var(--bg-main-3);
}

 .container .message{
  position: fixed;
  bottom: 45%;
  right: 17px;
  z-index: 2;

}
.message img{
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.social-link {
  position: absolute;
  cursor: pointer;
  background-color: var(--bg-main-3);
  padding: 17px 50px;
  bottom: 20px;
  left:20px;
  border: 1px solid var(--bg-main-1);
}

.social-link:hover {
  background-color: var(--bg-main-3);
  border: 1px solid var(--bg-main-2);
  box-shadow: 0px 0px 27px 5px var(--bg-main-3);
}

.Social-Link SPAN {
  position: absolute;
  color: var(--bg-main-2);
  visibility: visible;
  font-family: var(--ff-poppins);
  font-weight: 400;
  font-style: italic;

}

.Social-Link SPAN B {
  font-size: 2em;
  position: relative;
  right: 6px;
}

.Social-Link SPAN i {
  position: relative;
  bottom: 6px;
  left: 2px;
}

.Social-Link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  overflow: hidden;
  border-right: 4px solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  visibility: hidden;
}

.Social-Link a {
  color: var(--bg-main-2);
}

.Social-Link a:hover {
  color: var(--bg-main-1);
}

.social-link:hover .Social-Link SPAN {
  visibility: hidden;
}

.social-link:hover .Social-Link {
  
  display: block;
  visibility: visible;
  color: var(--bg-main-1);
  border-right: 4px solid #000000;
  animation: letters 1.75s steps(22, end),
    cursor .4s step-end infinite;

}

@keyframes letters {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes cursor {
  from {
    border-color: transparent
  }

  50% {
    border-color: #000000
  }
}

/* Responsive design For mini screen  */
@media (max-width: 1400px) {

  .Home:nth-child(2) .Home-text p {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .Home:nth-child(2) .Home-text {
    transform: scale(.8);
  }
  

  .Home:nth-child(2) .Home-text p {
    width: 90%;
  }

  .Home:first-child img {
    width: 120%;
    height: 120%;
    object-fit: contain;
  }
}

/* Responsive design For mobile screen  */
@media (max-width: 1050px) {
 
  ::-webkit-scrollbar {
    width: 0em;
  }

  .Home:first-child {
    padding-top: 0;
    padding-bottom: 110PX;

  }

  /* Nav bar */
  .mainbar {
    display: grid;
  }

  .navdisplay {
    position: absolute;
    top: 0;
    transition: .7s ease;
  }

  ul {
    display: block;
    transition: .7s;
    background-color: var(--bg-main-1);
    box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 26px 43px -3px rgba(0, 0, 0, 0.31);
    width: 100%;
    height: 12em;
    top: -300%;
    left: 0;
    position: absolute;
    padding: 24px;
    text-align: center;
  }

  ul li a:hover {
    transition: 0.3s;
    color: #ffffff;
  }

  ul li a::after {
    display: none;
  }

  ul li:nth-of-type(5) a {
    font-size: 15px;
    position: relative;
    top: 9px;
  }

  /* page formation 
   */
  .container section {
    padding-top: 120px;

  }

  /* Home page   */
  .Home:nth-child(2) {
    padding: 10%;
  }

  .container section:first-of-type {
    padding-top: 90px;
    flex-direction: column-reverse;
  }

  .Home:nth-child(2) .Home-text {
    top: 0;
    padding: 20px;
    height: 100%;
    transform: scale(1.1);
  }

  .Home:first-child img {
    width: 100%;
    height: 100%;
  }

  .Home:nth-child(2) .Home-text p {
    width: 100%;
  }

  .Home:nth-child(2) .Home-text h1 b {
    right: 10px;
    bottom: 17px;
    line-height: 80px;
  }

  .Home:nth-child(2) .Home-text h1 {
    line-height: 40px;
  }
  
  .arrows {
   left:20px;
    bottom: 20px;
  }
  .social-link {
   left:20px;}
}

@media (max-width: 900px) {
  .message img{
    width: 40px;
    height: 40px;
  }
  .social-link {
    transform: scale(.8);
    left: 4px;
  }

  .Home:nth-child(2) .Home-text {
    padding: 20px;
    height: 100%;
    transform: scale(1);
  }

  .arrows {
    display: none;
  }

  .Home:nth-child(2) {
    padding: 0%;
  }

  .container section:first-of-type {
    padding-top: 105px;
  }
}

@media (max-width: 300px) {
  .Home:nth-child(2) .Home-text h1 {
    position: relative;
    bottom: 8px;
  }

  /* page formation 
   */
  .container section {
    padding-top: 90px;
  }

  /* hOME PAGE  */
  .Home:nth-child(2) .Home-text h1 b {
    bottom: 0px;
  }
}